body {
    text-align: center;
    background-color: lightgreen;
    font-family: Verdana;
}

h5 {
    font-size: 20px;
}

.G_button {
    height: 20%;
    width: 20%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 15px;
}
.success{
    color: green;
    font-weight: bold;
    font-size: 15px;
}

.controller {
    position: relative;
}

.news_story_header {
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.gamingNews {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.searched-game-title {
    font-size: 30px;
    font-weight: bold;
}

.recommendations {
    height: 100px;
    width: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-blog {
    font-size: 30px;
    font-weight: bold;
}

.img1 {
    width: 50%;
    height: 50%;
}

.row {
    display: flex;
}

.column {
    flex: 10%;
    padding: 5px;
}

.gamePlatform {
    margin: auto;

    width: 30%;
    height: auto;
    border-style: solid;
    border: 5px outset rgb(145, 145, 235);
    border-radius: 0.5em;

}

.eachPlatform {
    margin: auto;
    font-size: 18px;
    width: 40%;
    height: auto;
    border-style: solid;
    border: 5px outset rgb(145, 145, 235);
    border-radius: 3em;

}

#textChat {
    display: inline-flex;
    text-align: center;
}

#messages {
    margin: auto;
    padding:4px;
    background-color: beige;
    width: 500px;
    height: 225px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    border-style: double;
}