body {
    text-align: center;
    background-color: lightgreen;
    font-family: Verdana;
}

h5 {
    font-size: 20px;
}

.G_button {
    height: 20%;
    width: 20%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.controller {
    position: relative;
}

.news_story_header {
    font-weight: bold;
    padding: 10px;
}

.searched-game-title {
    font-size: 30px;
    font-weight: bold;
}

.recommendations {
    height: 100px;
    width: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-blog {
    font-size: 30px;
    font-weight: bold;
}

.row {
    display: flex;
}

.column {
    flex: 10%;
    padding: 5px;
}