<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
    <title>Game Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for( 'static' , filename="style.css" ) }} />
</head>

<body>
    <div class="logo">
        <img class="controller" src="static/favicon-32x32.png" />
        <h2 class="game-blog"> Game Blog </h2>
    </div>
    <p>Already have an account?</p>
    <a class="lr" href="{{url_for('login')}}"> Log In Here! </a>

    <p>Don't have an account yet?</p>
    <a class="lr" href="{{url_for('signup')}}"> Sign Up Here! </a>
    </div>
    <div style="padding: 100px;">
        <p>Game Blog is a social game chat app.</p>
        <p>Users have the ability to search their favorite games, add them to their profile, and chat about them with whoever else is online.</p>
        <p>Our app is unique in the sense that it provides a social game experience without ads or a great amount of overhead, something a lot of other apps implement.</p>
        <p><b>Created by: Nathan Heckman, Ba Choi, Christopher English, Aaron Reyes, Yashesh Patel</b></p>
    </div>
</body>

</html>
