<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />
    <title>Game Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for( 'static' , filename="style.css" ) }} />
</head>

<body>
    <div class="logo">
        <img class="controller" src="static/favicon-32x32.png" />
        <h2 class="game-blog"> Game Blog </h2>
    </div>
    <h3> Welcome <b>{{ username }}</b></h3>
    <!--
    If we want this that's fine but looks distracting to me personally - Nathan
    <h3> Your User ID is <b>{{ user_id }}</b></h3> 
    -->
    <h5 style="color: green;">You are Successfully Logged In!</h5>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <Text class="error">
        {{message}}
    </Text>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST" action="/main">
        <input type="text" name="game" placeholder="Search Games" />
        <input type="submit" class="submit" value="Submit" />
    </form>

    <h3 class="searched-game-title">{{ game_name }}</h3>
    <img src="{{cover_url}}">
    <h5>{{ game_summary }}</h5>

    <br>

    {% if similar_game_data %}
    <h3 class="searched-game-title">Similar Games</h3>
    <div class="row">
        {% for game in similar_game_data %}
        <div class="column">
            <h5 class="summary">{{ game[0] }}</h5>
            <img class="recommendations" src="{{game[1]}}">
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <a href="{{url_for('NEWS')}}"> <img class="gamingNews" src="static/gamingNews.jpg"></a>

    <div class="gamePlatform">
        <p>View the Best Games by Platforms</p>
        <form method="POST" action="/gamePlatform">
            <select name="platform" , id="platform">
                <option value="pc">PC</option>
                <option value="3ds">3DS</option>
                <option value="ps4">PS4</option>
                <option value="ps5">PS5</option>
                <option value="xbox-360">Xbox 360</option>
                <option value="xbox-one">Xbox One</option>
                <option value="switch">Switch</option>
                <option value="android">Android</option>
                <option value="ios">iOS</option>

            </select>
            <select name="numbers" , id="platformNumbers">
                <option value=5>5 pages</option>
                <option value=10>10 pages</option>
                <option value=15>15 pages</option>
                <option value=20>20 pages</option>
            </select>
            <input type="submit" class="submit" value="Let's Check!" />
        </form>
    </div>

    <form method="GET" action="/account">
        <input type="submit" value="View Account" />
    </form>
    <br>
    <form method="POST" action="/chatroom">
        <input type="submit" value="Chat Room" />
    </form>
    <br>
    <form method="POST" action="/logout">
        <input type="submit" value="Log Out" />
    </form>
</body>

</html>